<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Listado de películas</h1>
    <ul>
        <% for (let i=0; i<peliculas.length; i++) { %>
            <li>
                <a href="/movies/<%=peliculas[i].id%>">
                    <% if (peliculas [i].generos) { %> 
                    <%= peliculas[i].title %> - <%= peliculas[i].generos.name %> 
                    <% } %> 
                    <ul>
                        <% for (let j=0; j < peliculas[j].actores.length; j++) { %> 
                            <li>
                                <%= peliculas[j].actores[j].first_name %> 
                            </li>
                        <% } %> 
                    </ul>
                </a> 
            </li>
        <% } %> 
    </ul>
</body>
</html>